<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "{{ site.url }}/#organization",
  "name": {{ site.data.company.legal_name | jsonify }},
  "url": {{ site.marketing_url | default: site.url | jsonify }},
  "email": {{ site.data.company.email | jsonify }},
  "logo": "{{ site.url }}/assets/images/logo.png",
  "sameAs": [
    {{ site.data.company.github | jsonify }},
    {{ site.data.company.huggingface | jsonify }}
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.data.company.address.line1 }}, {{ site.data.company.address.line2 }}",
    "postalCode": {{ site.data.company.address.postal_code | jsonify }},
    "addressLocality": {{ site.data.company.address.city | jsonify }},
    "addressCountry": "IT"
  }
}
</script>
