<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": {{ site.data.product.brand | jsonify }},
  "applicationCategory": "ScientificApplication",
  "operatingSystem": "Web",
  "url": "{{ site.url }}/",
  "description": {{ site.description | jsonify }},
  "publisher": {
    "@type": "Organization",
    "name": {{ site.data.company.legal_name | jsonify }},
    "url": {{ site.data.company.url | jsonify }}
  },
  "offers": [
    {% for plan in site.data.pricing.plans %}
    {
      "@type": "Offer",
      "name": {{ plan.name | jsonify }},
      "url": "{{ site.url }}/pricing/",
      "description": {{ plan.summary | jsonify }}{% if plan.amount %},
      "price": "{{ plan.amount }}",
      "priceCurrency": {{ site.data.pricing.currency | jsonify }}{% endif %}
    }{% if plan.annual_amount %},
    {
      "@type": "Offer",
      "name": {{ plan.name | append: " annual" | jsonify }},
      "url": "{{ site.url }}/pricing/",
      "description": {{ plan.annual_label | jsonify }},
      "price": "{{ plan.annual_amount }}",
      "priceCurrency": {{ site.data.pricing.currency | jsonify }}
    }{% endif %}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
